.container {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 100%;
  height: 180px;
}

.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.container > div {
  display: inline-block;
  height: 150px;
  max-height: 150px;
  width: 10%;
  max-width: 10%;
  overflow: scroll;

  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
